/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #000000;
    padding: 10px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.name {
    font-size: 25px;
    font-weight: bold;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    color: rgb(138, 126, 126);
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  .header-right a.header-right-content {
    color:white;
  }

  .header-right a:hover {
    color: rgb(138, 126, 126);
  } 